<%= form_for(@test_case) do |f| %>
  <% if @test_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_case.errors.count, "error") %> prohibited this test_case from being saved:</h2>

      <ul>
      <% @test_case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <fieldset>
    <legend><%= "#{ @test_case.title } " unless @test_case.title.nil?  %>Test Case Information</legend>


    <div class="control-group">
      <%= f.label(:title, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field(:title, :class => "input-xlarge") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:precondition, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field(:precondition, :class => "input-xlarge") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:testdata, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field(:testdata, :class => "input-xlarge") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:expected_results, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field(:expected_results, :class => "input-xlarge") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:subsystem, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field(:subsystem, :class => "input-xlarge") %>
        <%#= f.collection_select(:priority, Subsystem.all, :subsystem_name, :subsystem_name) %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label(:postcondition, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field(:postcondition, :class => "input-xlarge") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:requirement_reference, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field(:requirement_reference, :class => "input-xlarge") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:comments, :class => "control-label") %>
      <div class="controls">
        <%= f.text_area(:comments, :class => "input-xlarge", :rows => "3" ) %>
      </div>
    </div>

 </fieldset>
 </div>

  <div class="container">
    <fieldset>
      <legend>Steps <%= "That Belong to   #{ @test_case.title }" unless @test_case.title.blank? %></legend>
      <%= render('steps_table', :f => f) %>
      <%= link_to_add_fields("Add a Step", f, :steps, :class => "btn btn-primary", :title => "Add a new Step to the Test Case.") %>
      <p></p>
    </fieldset>
  </div>


  <div class="center">
    <%= f.submit("Save Test Case", :class => "btn btn-primary", :title => "Save the changes to this Test Case.") %>
    <%= link_to("Cancel", test_cases_path, :confirm => "Are you sure you want to cancel?  Any changes will be lost.", :class => "btn btn-inverse", :title => "Cancel the changes and return to the Test Case page.") %>
  </div>





<% end %>
