<%= form_for(@test_case, :html => {:class => "form form-horizontal" }) do |f| %>
  <% if @test_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_case.errors.count, "error") %> prohibited this test_case from being saved:</h2>

      <ul>
      <% @test_case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= "#{ @test_case.title } " unless @test_case.title.nil?  %>Test Case Information</legend>


    <div class="control-group">
      <%= f.label(:title, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field(:title, :class => "input-xlarge") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:precondition, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field(:precondition, :class => "input-xlarge") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:testdata, :class => "control-label") %>
      <div class="controls">
        <%= f.check_box(:testdata, :class => "checkbox") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:expected_results, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field(:expected_results, :class => "input-xlarge") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:subsystem, :class => "control-label") %>
      <div class="controls">
        <%= f.text_area(:subsystem, :class => "input-xlarge", :rows => "3") %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label(:postcondition, :class => "control-label") %>
      <div class="controls">
        <%= f.text_area(:postcondition, :class => "input-xlarge", :rows => "3") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:requirement_reference, :class => "control-label") %>
      <div class="controls">
        <%= f.text_area(:requirement_reference, :class => "input-xlarge", :rows => "3") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:comments, :class => "control-label") %>
      <div class="controls">
        <%= f.text_area(:comments, :class => "input-xlarge", :rows => "3") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:thing, :class => "control-label") %>
      <div class="controls">
        <%= f.text_area(:thing, :class => "input-xlarge", :rows => "3") %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Steps <%= "That Belong to   #{ @test_case.title }" unless @test_case.title.blank? %></legend>
    <%= render('steps_table', :f => f) %>
    <%= link_to_add_fields("Add a Step", f, :steps, :class => "btn btn-primary", :title => "Add a new Step to the Test Case.") %>
    <p></p>
  </fieldset>








 <div class="row">
   <div class="col-md-6">


      <div class="field">
        <%= f.label :step %><br>
        <%= f.text_area :step %>
      </div>

     <!-- The Step Section -->
     <div>
       <div class="span8">
         <% if @test_case.steps.any? %>
             <h3>Steps (<%= @test_case.steps.count %>)</h3>
             <ol class="steps">
               <%= render @steps %>
             </ol>
             <%= will_paginate @steps %>
         <% end %>
       </div>
     </div>






      <div class="actions">
        <%= f.submit %>
        <%= link_to 'Back', test_cases_path %>
      </div>
     </div>
   </div>
<% end %>
