<h1>Listing test_cases</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Precondition</th>
      <th>Has Step</th>
      <th>Testdata</th>
      <th>Expected results</th>
      <th>Subsystem</th>
      <th>Postcondition</th>
      <th>Requirement</th>
      <th>Comments</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_cases.each do |test_case| %>
      <tr>
        <td><%= test_case.title %></td>
        <td><%= test_case.precondition %></td>
        <td><%= test_case.step %></td>
        <td><%= test_case.testdata %></td>
        <td><%= test_case.expected_results %></td>
        <td><%= test_case.subsystem %></td>
        <td><%= test_case.postcondition %></td>
        <td><%= test_case.requirement_reference %></td>
        <td><%= test_case.comments %></td>
        <td><%= link_to('<i class="icon-eye-open"/>'.html_safe, test_case, :title => "View #{ test_case.title")  %></td>
        <td><%= link_to('<i class="icon-edit"/>'.html_safe, edit_test_case_path(test_case), :title => "Edit #{ test_case.title") %></td>
        <td><%= link_to('<i class="icon-remove"/>'.html_safe, test_case, :method => :delete, :confirm => "Are you sure you want to permanently delete the #{ test_case.title } and all its associated Steps?", :title => "Delete #{ test_case.title") %></td>
        <td><%= link_to 'Show', test_case %></td>
        <td><%= link_to 'Edit', edit_test_case_path(test_case) %></td>
        <td><%= link_to 'Destroy', test_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test case', new_test_case_path %>
